* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

body {
    background-color: rgb(142, 192, 207);
}

.grid {
    width: 960px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.square {
    background-color: white;
    width: 60px;
    height: 60px;
}

.toolbar input[type="radio"] {
    visibility: hidden;
    display: none;
}

.toolbar label {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid goldenrod;
    border-radius: 5px;
    cursor: pointer;
}

.toolbar label:hover {
  background-color:goldenrod;
  color:white
}
.toolbar input[type="radio"]:checked + label {
    background-color:goldenrod;
    color:white;
    border:2px solid white;
}